@using CSS_Server.ViewModels
@using CSS_Server.Models

@{
    Layout = "_Layout";
}

@model CameraIndexViewModel

<h1>Camera's</h1>

<ul>
    @*@foreach(Camera camera in (List<Camera>)ViewData["cameras"])*@
    @foreach(Camera camera in Model.Cameras)
    {
        <li>@camera.Id - @camera.Name - @camera.IsConnected()</li>
    }
</ul>
