@using CSS_Server.ViewModels
@using CSS_Server.Models

@{
    Layout = "_Layout";
}

@model CameraIndexViewModel

<h1>Camera's</h1>

<main class="main">
    <div class="cameras-container">

    @foreach (Camera camera in Model.Cameras)
        {
            <div class="single-camera-block">
                <img src="media/camerafootage.jpg" alt="footage">
                <h2>Camera: @camera.Name (@camera.Id)</h2>
            </div>
        }
    </div>
</main>