body {
    box-sizing: border-box;
   
    min-height: 100vh;
    flex-direction: column;

    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: rgb(123,135,191);
    background: radial-gradient(circle, rgba(123,135,191,1) 0%, rgba(97,103,214,1) 100%);
}

.main_form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    form
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 24px;
        background: rgba(255, 244, 244, 0.3);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(12.5px);
        -webkit-backdrop-filter: blur(12.5px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
    }
}

.main_dashboard {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 40px 20px 0 20px;


    .cameras-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 16px;
        height: min-content;

        .single-camera-block {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: flex-start;
            height: max-content;
            width: 100%;
            background: rgba(57, 53, 53, 0.85);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            backdrop-filter: blur(0px);
            -webkit-backdrop-filter: blur(0px);
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.18);

            &[online="True"]:hover {
                background-color:red;
                cursor:pointer;
            }

            .camera-info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 16px 0 16px;
            }
        }
    }
}

.dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
}

.online {
    @extend .dot;
    background-color: lawngreen;
}

.offline {
    @extend .dot;
    background-color: red;
}

h2 {
    color: white;
    font-size: medium;
}

img {
    max-width: 100%;
    padding: 16px 16px 0px 16px;
}

h1{
    color: #3b3a41;
    font-size: large;
}

input[type=text], input[type=password], input[type=submit] {
    margin-bottom: 24px;
    width: 100%;

    outline: none;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 18px;
    height: 56px;
}

.addButton {
    font-size: 18px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

button {
    font-size: 18px;
}

input[type=submit], .addButton, button {
    background-color: #4229d4;
    border: 1px solid #4229d4;
    color: white;
    cursor: pointer;
}

label {
    text-align: left;
    display: block;
    width: 100%;
    padding-bottom: 8px;
    color: white;
}

nav {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

    nav a, nav div {
        float: left;
        padding: 12px;
        color: white;
        text-decoration: none;
        font-size: 17px;
    }

        nav a:hover {
            background-color: #000;
        }

.active {
    background-color: #04AA6D;
}

@media screen and (max-width: 600px) {
    .main_form {
        width: 100%;
        margin-top: 0;
    }
    .main_dashboard {
        width: 100vw;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .cameras-container {
        grid-template-columns: 1fr;
        padding: 16px;
        margin-top: 40px;
        margin-bottom: 40px;
    }


    form {
        width: 75vw;
    }
}

//Begin icons
.icon {
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 20px;

}
.trashbin {
    @extend .icon;
}
.trashbin:before {
    content: "\f1f8";
}

.pencil {
    @extend .icon;
}

.pencil:before {
    content: "\f304";
}
//End icons

//Begin snackbar
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}
//End snackbar