<!DOCTYPE html>

<html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewData["Title"]</title>
        <link rel="stylesheet" href="~/css/stylesheet.css" asp-append-version="true" />
    </head>
    <body>
        <div>
            @RenderBody()
        </div>
    </body>
</html>
