@using CSS_Server.Models.Authentication
@using CSS_Server.ViewModels
@using CSS_Server.Models

@{
    Layout = "_Layout";
}

@model List<User>

<main class="main_dashboard">
    <button class="addButton" title="Register a new user" onclick="location.href='@Url.Action("Register", "Account")'">+</button>
    <h1>Users</h1>


    @foreach (User user in Model)
    {
        
    }
</main>