@using CSS_Server.ViewModels
@using CSS_Server.Models
@using Microsoft.AspNetCore.Mvc.ModelBinding

@{
    Layout = "_Layout";

    //This function is used to show validation errors for a given property.
    void ErrorHelper(string propertyName)
    {
        //If the already posted property is not set, It's the first time the view will be showed to the user.
        //In that case we do not want to show any error messages.
        if (!ViewData.TryGetValue("AlreadyPosted", out object alreadyPosted) || !(bool)alreadyPosted)
            return;

        //If there is no modalState entry for the given prop, return.
        @if (!ViewData.ModelState.TryGetValue(propertyName, out ModelStateEntry value))
            return;

        @if(value.Errors.Count > 0)
        {
            //Foreach error add a span to the dom.
            @foreach (ModelError error in value.Errors)
            {
                <span class="validationError">@error.ErrorMessage</span>
            }
        }
    }
}

@model LogInViewModel

<main class="main_form center">
    <form action="#" method="post">
        <h1>
            CameraSecuritySystem
        </h1>

        <div class="inputBox">
            <label for="UserName">UserName</label>
            <input asp-for="UserName" name="UserName" type="text">
            @{ ErrorHelper("UserName"); }
        </div>

        <div class="inputBox">
            <label for="password">Password</label>
            <input asp-for="Password" name="password" type="password">
            @{ ErrorHelper("Password"); }
        </div>

        <input type="submit" value="Login">
    </form>
</main>

<script src="~/js/RemoveValidationOnInput.js"></script>